---
import "./styles/global.css"

let {link = "https://hack.club", title = "Hack Club", icon = "https://icons.hackclub.com/api/icons/0xfab387/web", color = "peach", info = "We make things. We help one another. We have fun."} = Astro.props;
---
<div class="flex flex-row items-center group">
    <img src={icon} class="size-10 group-hover:size-12 transition-all ease-spring duration-500 mr-1">
    <span class=" transition-all ease-spring "><a href={link} class={`text-3xl font-vt group-hover:font-bold underline underline-offset-2 decoration-wavy group-hover:underline-offset-8 transition-all group-hover:text-ctp-${color}`}>{title}</a>
    <span class="opacity-0 group-hover:opacity-100 transition-all transition-discrete text-ctp-subtext0">{info}</span></span>
</div>